# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
#
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development: &development
  <<: *default
  database: <%= "#{ENV["DB_DBNAME"]}_dev" %>
  username: <%= ENV["DB_USERNAME"] %>
  password: <%= ENV["DB_PASSWORD"] %>
  host: localhost
  port: 5432

test:
  <<: [*default, *development]
  database: <%= "#{ENV["DB_DBNAME"]}_test" %>

production:
  <<: *default
  url: <%= ENV["DATABASE_URL_PROD"] %>
